<div class="navbar">
    <a href="/feed">
        <img src="/image/feeds.svg" alt="Design Hive Logo" />
        <p>Feeds</p>
    </a>
    <a href="/newPost">
        <img src="/image/new_post.svg" alt="Design Hive Logo" />
        <p>New Post</p>
    </a>
    <a href="/account">
        <img src="/image/my_account.svg" alt="Design Hive Logo" />
        <p>My Account</p>
    </a>
    <a href="/logout">
        <img src="/image/logout.svg" alt="Design Hive Logo" />
        <p>Logout</p>
    </a>
</div>