:root {
    --green: #6CCF8D;
    --error-red: #ef7979;
    --grey: #dadada;
}

/* we can change font:3 */
h1, h2, h3 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
button {
    font-family: "Inter", sans-serif;
    font-weight: bold; 
}

.navbar {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    width: 150px;
    background: #fff;
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.navbar a {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem 0;
    text-decoration: none;
    color: black;
}
.navbar a:hover {
    opacity: 0.7;
}

